    <footer class="footer mt-auto text-white-50 text-center container">
        <p>&copy; <a href="https://twitter.com/mdo" class="text-white">boogiedml</a> 2022</p>
    </footer>
<script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
