<%- include('partials/header') %>

  <main class="container home-section">
    <h1>Cover your page.</h1>
    <p>Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <div class="buttons">
      <a href="/register" class="btn btn-lg btn-secondary">Register</a>
      <a href="/login" class="btn btn-lg btn-secondary">Login</a>
    </div>
  </main>

<%- include('partials/footer') %>
