<%- include('partials/header') %>

  <main class="container home-section">
    <h1>Keep your Secrets.</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas recusandae velit fuga! Quos ad asperiores suscipit maxime ullam ea porro consectetur ratione iusto cumque, expedita explicabo alias quae illum, pariatur recusandae odit mollitia quaerat! Ea saepe architecto delectus aspernatur veniam, corrupti harum quisquam, perferendis error impedit eaque laudantium necessitatibus eum.</p>
    <div class="buttons">
      <a href="/register" class="btn btn-lg btn-secondary">Sign up</a>
      <a href="/login" class="btn btn-lg btn-secondary">Login</a>
    </div>
  </main>

<%- include('partials/footer') %>
