@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans&family=Syne&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #2F8F9D;
  color: #fff;
  position: relative;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

a{
  text-decoration: none;
}

.card{
  width: 500px;
  margin: 60px auto 0;
  position: relative;
}
.card h1{
  color: #2F8F9D;
  font-size: 1.5rem;
}
.card-header{
  display: flex;
  justify-content: baseline;
}

.btn,
:hover{
  transition: .8s;
}
/* Navbar */
.navbar a{
  color: #fff;
  font-weight: 500;
}
.navbar a:hover{
  color: #B3E8E5;
}

.nav-item{
  margin: 0 15px;
}
.navbar-toggler{
  border: 2px solid #FFF;
}
.navbar-toggler:hover{
  background-color: #B3E8E5;
}
nav .icon{
  color: #fff;
}
nav .nav-brand{
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.5rem;
}
nav .brand-lw{
  text-transform: uppercase;
  background-color: #fff;
  color: #2F8F9D;
  margin-left:5px;
  padding: 2px;
  border-radius: 3px;
}
nav .brand-lw:hover{
  background-color: #B3E8E5
}
/* Footer  */
.footer{
  margin-top: 100px;
}


/* Home Section  */
.home-section{
  text-align: center;
  margin-top: 150px;
}
.home-section h1,
.home-section p{
  margin-bottom: 20px;
}
.home-section .buttons{
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
.home-section .btn{
  width: 200px;
  background: transparent;
  border: 2px solid #FFF;
}
.home-section .btn:hover{
  background: #B3E8E5;
  color: #2F8F9D;
}

/* Register  and LOgin*/
.register-section h1,
.login-section h1{
  padding:20px 0;
}

.register-section .btn,
.login-section .btn{
  width: 150px;
  background: #B3E8E5;
  border: 2px solid #2F8F9D;
  color: #2F8F9D;
  margin-top: 20px;
}

.register-section .btn:hover,
.login-section .btn:hover{
  background: #2F8F9D;
  border: 2px solid #B3E8E5;
  color: #FFF;
}

/* Mediaa Queries */
@media(max-width: 600px){
  .card{
    width: 400px;
  }
}

@media(max-width: 500px){

  .home-section .btn{
    width: 150px;
  }
  .card{
    width: 90%;
  }

  .register-section .btn,
  .login-section .btn{
    width: 100px;
  }
}


